.my-body {
  background-color: #F5F7F6;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

.my-body {
  background-color: #F5F7F6;
  text-align: left;
  font-family: "Poppins", sans-serif;
}
.my-body button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: #E7EAEA;
  padding: 5px;
  margin: 0 2px;
  font-size: 14px;
  color: #4285f4;
  text-transform: uppercase;
}
.my-body button:hover {
  background-color: #4285f4;
  color: #E7EAEA;
}
.my-body header .header-left {
  display: flex;
  justify-content: flex-start;
}
.my-body header .header-right {
  display: flex;
  justify-content: space-around;
}
.my-body header .current-date {
  color: #0B8043;
  font-weight: bold;
  text-align: center;
}
.my-body .about-date, .my-body .preferences, .my-body .export, .my-body .import {
  background-color: #E7EAEA;
}
.my-body .sign-in {
  cursor: pointer;
}
.my-body .sign-in:hover {
  opacity: 0.7;
}
.my-body .about-date .close-about-date {
  display: none;
}
.my-body .about-date h2.current-date {
  color: #0B8043;
}
.my-body .about-date ul {
  list-style: none;
}
.my-body .about-date ul li {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.my-body .about-date ul li.in-past {
  color: #adb5bd;
}
.my-body .about-date ul li:hover, .my-body .about-date ul li.opened {
  color: #DB4437;
}
.my-body .about-date ul .event-details {
  color: #4285f4;
  font-size: 12px;
}
.my-body .calendar .fas.fa-angle-left, .my-body .calendar .fas.fa-angle-right {
  position: absolute;
  top: calc(50% - 35px);
  font-size: 30px;
  color: #4285f4;
  cursor: pointer;
}
.my-body .calendar .fas.fa-angle-left:hover, .my-body .calendar .fas.fa-angle-right:hover {
  color: #DB4437;
}
.my-body .calendar .fas.fa-angle-right {
  right: 0px;
}
.my-body .calendar .fas.fa-angle-left {
  left: 0px;
}
.my-body .calendar .calendar-days-of-week {
  display: grid;
}
.my-body .calendar .calendar-days-of-week .day-item {
  font-size: 16px;
  cursor: default;
}
.my-body .calendar .calendar-days-of-week #Mon {
  grid-row: 1/2;
  grid-column: 1/2;
}
.my-body .calendar .calendar-days-of-week #Tue {
  grid-row: 1/2;
  grid-column: 2/3;
}
.my-body .calendar .calendar-days-of-week #Wed {
  grid-row: 1/2;
  grid-column: 3/4;
}
.my-body .calendar .calendar-days-of-week #Thu {
  grid-row: 1/2;
  grid-column: 4/5;
}
.my-body .calendar .calendar-days-of-week #Fri {
  grid-row: 1/2;
  grid-column: 5/6;
}
.my-body .calendar .calendar-days-of-week #Sat {
  grid-row: 1/2;
  grid-column: 6/7;
}
.my-body .calendar .calendar-days-of-week #Sun {
  grid-row: 1/2;
  grid-column: 7/8;
}
.my-body .calendar .calendar-days {
  display: grid;
}
.my-body .calendar .calendar-days .calendar-item {
  cursor: pointer;
  padding: 2rem 1rem;
  font-size: 22px;
  position: relative;
}
.my-body .calendar .calendar-days .calendar-item:hover {
  background-color: #4285f4;
  color: #fff;
}
.my-body .calendar .calendar-days .calendar-item.another-month {
  color: #adb5bd;
}
.my-body .calendar .calendar-days .calendar-item.selected-day {
  background-color: #0B8043;
  color: #fff;
}
.my-body .calendar .calendar-days .calendar-item i {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 14px;
}
.my-body .calendar .calendar-days .calendar-item span {
  color: #DB4437;
  font-size: 12px;
  bottom: 1px;
  left: 25%;
}
.my-body .calendar .calendar-days #calendar-item-1 {
  grid-row: 1/2;
  grid-column: 1/2;
}
.my-body .calendar .calendar-days #calendar-item-2 {
  grid-row: 1/2;
  grid-column: 2/3;
}
.my-body .calendar .calendar-days #calendar-item-3 {
  grid-row: 1/2;
  grid-column: 3/4;
}
.my-body .calendar .calendar-days #calendar-item-4 {
  grid-row: 1/2;
  grid-column: 4/5;
}
.my-body .calendar .calendar-days #calendar-item-5 {
  grid-row: 1/2;
  grid-column: 5/6;
}
.my-body .calendar .calendar-days #calendar-item-6 {
  grid-row: 1/2;
  grid-column: 6/7;
}
.my-body .calendar .calendar-days #calendar-item-7 {
  grid-row: 1/2;
  grid-column: 7/8;
}
.my-body .fas.fa-times {
  color: #DB4437;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
@media only screen and (min-width: 801px) {
  .my-body .desktop-hidden {
    display: none !important;
  }
}
@media only screen and (max-width: 800px) {
  .my-body .mobile-hidden {
    display: none !important;
  }
  .my-body .calendar {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .my-body .about-date, .my-body .export, .my-body .import, .my-body .preferences {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .my-body .about-date .close-about-date, .my-body .export .close-about-date, .my-body .import .close-about-date, .my-body .preferences .close-about-date {
    display: block;
  }
}
@media only screen and (max-width: 470px) {
  .my-body .calendar .calendar-days-of-week .p {
    padding: 10px 0px;
  }
  .my-body .calendar .calendar-days .calendar-item {
    padding: 2rem 0rem;
  }
}
