.my-body {
  background-color: #F5F7F6;
  top: 13%;
  left: 25%;
  font-family: 'Montserrat', sans-serif;
}

.my-body header .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.my-body section .about-date {
  background-color: #E7EAEA;
}

.my-body section .calendar .calendar-days-of-week {
  display: -ms-grid;
  display: grid;
}

.my-body section .calendar .calendar-days-of-week div {
  font-size: 14px;
}

.my-body section .calendar .calendar-days-of-week #Mon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.my-body section .calendar .calendar-days-of-week #Tue {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.my-body section .calendar .calendar-days-of-week #Wed {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.my-body section .calendar .calendar-days-of-week #Thu {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

.my-body section .calendar .calendar-days-of-week #Fri {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
}

.my-body section .calendar .calendar-days-of-week #Sat {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
}

.my-body section .calendar .calendar-days-of-week #Sun {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7/8;
}

.my-body section .calendar .calendar-days {
  display: -ms-grid;
  display: grid;
}

.my-body section .calendar .calendar-days div {
  cursor: pointer;
  padding: 1rem;
  font-size: 22px;
}

.my-body section .calendar .calendar-days #calendar-item-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.my-body section .calendar .calendar-days #calendar-item-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.my-body section .calendar .calendar-days #calendar-item-3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.my-body section .calendar .calendar-days #calendar-item-4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

.my-body section .calendar .calendar-days #calendar-item-5 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
}

.my-body section .calendar .calendar-days #calendar-item-6 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
}

.my-body section .calendar .calendar-days #calendar-item-7 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7/8;
}
/*# sourceMappingURL=style.css.map */