

$blue-color: #4285f4;
$green-color: #0B8043; 
$red-color: #DB4437;
$bck-color: #F5F7F6;
$light-grey-color: #E7EAEA;
$dark-grey-color: #adb5bd;


.my-body{
    background-color: $bck-color;
    text-align: left;
    // top: 13%;
    // left: 25%;
    // font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
    font-family: 'Poppins', sans-serif;

    header{
        .header-left{
            display: flex;
            justify-content: flex-start;
        }
        .header-right{
            display: flex;
            justify-content: space-around;
        }

        .current-date{
            color: $green-color;
            font-weight: bold;
        }

        button{
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            background-color: $light-grey-color;
            padding: 5px;
            margin: 0 2px;
            font-size: 14px;
            color: $blue-color;
            text-transform: uppercase;

            &:hover{
                background-color: $blue-color;
                color: $light-grey-color;
            }
        }
    }

    section{
        .about-date, .preferences, .export, .import{
            background-color: $light-grey-color;
        }

        .about-date{

            h2.current-date{
                color: $green-color;
            }
            ul{
                list-style: none;
                li{
                    display: flex;
                    justify-content: space-between;
                    cursor: pointer;

                    &.in-past{
                        color: $dark-grey-color;
                    }

                    &:hover, &.opened{
                        color: $red-color;
                    }
                }
            
                .event-details{
                    color: $blue-color;
                    font-size: 12px;
                }
            }

        }

        .calendar{

            .fas.fa-angle-left, .fas.fa-angle-right{
                position: absolute;
                top: calc(50% - 35px);
                font-size: 30px;
                color: $blue-color;
                cursor: pointer;   
                &:hover{
                    color: $red-color;
                }
            }
             .fas.fa-angle-right{
                right: 0px;
  
            }
            .fas.fa-angle-left{
                left: 0px;
            }
            .calendar-days-of-week{
                display: grid;
                .day-item{
                    font-size: 16px;
                    cursor: default;
                }

                #Mon{
                    grid-row: 1/2; 
                    grid-column: 1/2; 
                }
                #Tue{
                    grid-row: 1/2; 
                    grid-column: 2/3; 
                }
                #Wed{
                    grid-row: 1/2; 
                    grid-column: 3/4; 
                }
                #Thu{
                    grid-row: 1/2; 
                    grid-column: 4/5; 
                }
                #Fri{
                    grid-row: 1/2; 
                    grid-column: 5/6; 
                }
                #Sat{
                    grid-row: 1/2; 
                    grid-column: 6/7; 
                }
                #Sun{
                    grid-row: 1/2; 
                    grid-column: 7/8; 
                }
            }

            .calendar-days{
                display: grid;

                .calendar-item{
                    cursor: pointer;
                    padding: 1rem;
                    font-size: 22px;
                    position: relative;
                    &:hover{
                        background-color: $blue-color;
                        color: #fff;
                    }
                    &.another-month{
                        color: $dark-grey-color;
                    }
                    &.selected-day{
                        background-color: $green-color;
                        color: #fff;
                    }

                    i{
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        font-size: 14px;
                    }
                    span{
                        color: $red-color;
                        font-size: 12px;
                        bottom: 1px;
                        left: 25%;
                    }
                }
                #calendar-item-1{
                    grid-row: 1/2; 
                    grid-column: 1/2; 
                }
                #calendar-item-2{
                    grid-row: 1/2; 
                    grid-column: 2/3; 
                }
                #calendar-item-3{
                    grid-row: 1/2; 
                    grid-column: 3/4; 
                }
                #calendar-item-4{
                    grid-row: 1/2; 
                    grid-column: 4/5; 
                }
                #calendar-item-5{
                    grid-row: 1/2; 
                    grid-column: 5/6; 
                }
                #calendar-item-6{
                    grid-row: 1/2; 
                    grid-column: 6/7; 
                }
                #calendar-item-7{
                    grid-row: 1/2; 
                    grid-column: 7/8; 
                }
            }
        } 

        .fas.fa-times{
            color: $red-color;
            font-size: 18px;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 800px) {
}